<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">
  <Identity
    Name="Webmodule.DisplayCue"
    Publisher="CN=2D087106-7457-4B86-A17F-AAA2839744F5"
    Version="1.1.0.0"
    ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>DisplayCue</DisplayName>
    <PublisherDisplayName>Webmodule</PublisherDisplayName>
    <Description>Switch Windows display layouts quickly.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="DisplayCue.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="DisplayCue"
        Description="Switch Windows display layouts quickly."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
